*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: orange;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.header-container {
    max-width: 1200px;
    min-width: 500px; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
}

.header-top {
    display: flex;
    flex-basis: 33.3%;
}


.flex-container-menu {
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;
}

.img-size-logo {
    width: 50%;
    padding: 20px;
}

.header-right{
    display: flex;
    flex-basis: 33.3%;
    justify-content: flex-end;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    color: white;
    font-size: 20px;
    padding-right: 5px;
}

.main-container {
    max-width: 1200px;
    min-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}